body {
  color: white;
}
#executioner,
#misero,
#paprika,
#hamlet,
#notferatu {
  font-size: 2rem;
  margin-bottom: 20rem;
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fullDescriptions {
  padding-top: 3rem;
}

.character-photo {
  margin-left: 5rem;
  border: 1rem solid rgb(42, 42, 42);
  border-radius: 0.5rem;
}

.second-half {
  display: flex;
  flex-direction: column;
  padding-left: 5rem;
  padding-right: 5rem;
}

.second-half h2 {
  font-size: 8rem;
  padding-bottom: 3rem;
}
