.yaun-card {
  display: inline-block;
  margin: 3rem;
  padding: 1rem;
  border: 0.2rem solid black;
  border-radius: 1rem;
  max-width: 22rem;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1rem rgb(55, 55, 55);
  background-color: rgb(66, 63, 63);
  color: white;
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}

.yaun-card:hover {
  box-shadow: 1rem 1rem 2rem grey;
  transform: scale(1.15);
  cursor: pointer;
}

.imgCard {
  width: 100%;
  height: 30rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

img{
  max-width:80rem;
  max-height: 40rem;
}