.not-found-test {
  text-align: center;
  font-size: 5rem;
  padding-top: 10rem;
  padding-bottom: 3rem;
}

img{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}
.navbar a {
  text-decoration: none;
  color: inherit;
}