@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0.7);
  }
  50% {
    box-shadow: 0 0 0 10px rgba(250, 229, 113, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(250, 229, 113, 0);
  }
}

.titleOfDiscription {
  padding-bottom: 2rem;
  font-size: 4rem;
}

.game-description {
  color: white;
  text-align: center;
  padding: 2rem;
  font-family: "Arial", sans-serif;
  font-size: 1.5rem;
}

.buy-button {
  background-color: #b91a27e3;
  color: white;
  border: none;
  padding: 1.2rem 2.4rem;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.2);
  margin-top: 4rem;
  margin-bottom: 1rem;
  animation: pulse 2s infinite;
}

.buy-button:hover {
  background-color: #63080e;
  transform: scale(1.05);
  box-shadow: 0 0.6rem 1.2rem rgba(0, 0, 0, 0.3);
}

.buy-button:active {
  transform: scale(0.97);
  background-color: #c82333;
}

.buy-box {
  color: aliceblue;
  padding: 20rem 20rem;
  background-color: #63080e;
  z-index: 10000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  font-size: 3.5rem;
  box-shadow: 0 0 0.5rem rgb(229, 61, 61);
  max-width: 90vw;
  max-height: 80vh;
  overflow: hidden;
}

.x-btn {
  background-color: #63080e;
  padding: 1.5rem;
  position: fixed;
  top: 0%;
  right: 0%;
  color: white;
  margin: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.x-btn:hover {
  background-color: white;
  color: #63080e;
  cursor: pointer;
}

.game-description p {
  font-size: 2rem;
}

.buy-box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* DARK BACKGROUND */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9000; /* Below modal but above everything else */
  backdrop-filter: blur(3px); /* Optional, looks cool */
}
