@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Comfortaa", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(21, 21, 21);
  color: #ffffff;
}

h2 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.header {
  margin-bottom: 3rem;
}

.characterCards {
  margin: 2rem auto;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }

  .characterCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin: 2rem auto;
  }

  #paprika,
  #misero,
  #notferatu,
  #executioner,
  #hamlet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .game-description {
    margin-bottom: 4rem;
  }

  .character-photo,
  .second-half {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .character-photo {
    margin-bottom: 2rem;
  }

  .photo-container {
    margin: auto;
  }

  .second-half p {
    padding: 0 1.5rem;
    font-size: 1.8rem;
    text-align: center;
  }
}

@media (max-width: 500px) {
  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .accordion-item {
    width: 90%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }

  .accordion-question {
    padding: 1.5rem;
    font-size: 1.6rem;
  }

  .accordion-container {
    margin-top: 3rem;
  }

  .accordion-answer {
    background-color: #f0f8ff;
    color: #111111;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
  }

  .open {
    display: block;
  }

  .accordion-title {
    font-size: 2rem;
    text-align: center;
  }

  .accordion-description {
    font-size: 1.4rem;
    text-align: center;
    max-width: 90%;
    margin-bottom: 2rem;
  }
}
