@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Comfortaa", sans-serif;
}

/*By default 1 rem is equal to 16 pixels because the font size of the root element (the hetmlelement) is equal to 16 pixels. I want ot convert one rem to 10 pixels and for that we need to decrease the font size of the html element so 1 rem is now = 10 px*/
html {
  font-size: 62.5%;
}

@media (max-width: 1000px) {
  html {
    font-size: 50%;
  }
  .characterCards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #paprika,
  #misero,
  #notferatu,
  #executioner,
  #hamlet {
    display: flex;
    flex-direction: column;
  }

  .game-description{
    margin-bottom: 15rem;
  }
  .characterCards{
    transform: scale(1.15);

    
  }

  .character-photo,
  .second-half {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .character-photo {
    margin-bottom: 20rem;
    transform: scale(1.5);
  }
  .photo-container {
    margin: auto;
  }

  .second-half p {
    padding-left: 3rem;
    padding-right: 3rem;
    font-size: 3rem;
  }
}

@media (max-width: 500px) {
  .accordion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .accordion-item {
    width: 90%;
    margin-bottom: 1rem;
    border-radius: 0.5rem;
  }

  .accordion-question {
    padding: 1.5rem;
    font-size: 1.6rem;
  }
  .accordion-container{
    margin-top: 25rem;
  }

  .accordion-answer {
    background-color: #f0f8ff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    font-size: 1.4rem;
    width: 100%;
    box-sizing: border-box;
  }

  .open {
    display: block;
  }

  .accordion-title {
    font-size: 2rem;
    text-align: center;
  }

  .accordion-description {
    font-size: 1.4rem;
    text-align: center;
    max-width: 90%;
    margin-bottom: 2rem;
  }

  nav{
    transform: scale(1.2);

  }
  .nav-item{
        padding: 1.5rem;
  }
  .nav-logo{
    padding-top: 3rem;
  }
  .accordion-container{
    transform: scale(1.15);
  }
}
