.accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 32, 32);
}

.accordion {
  width: 50rem;
  margin: 2rem;
  margin-bottom: 20rem;
}

.accordion-title {
  margin: 2.5rem 0;
  font-size: 2.5rem;
}

.accordion-description {
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.accordion-item {
  list-style: none;
}

.accordion-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
.expand-symbol {
  font-size: 2rem;
}
.accordion-question {
  font-size: 1.3rem;
  padding: 3rem;
  margin-bottom: 1rem;
  background-color: black;
  color: white;
  list-style: none;

  cursor: pointer;
  width: 50rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.accordion-answer {
  max-height: 0;
  overflow: hidden;
  background-color: aliceblue;
  color: black;
  padding: 0 2rem;
  border-radius: 0 0 1rem 1rem;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-answer.open {
  font-size: 1.5rem;
  max-height: 2rem;
  padding: 4rem;
  margin-bottom: 1rem;
  margin-top: -1rem;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: left;
}

.accordion-span{
  padding: .5rem;
}