@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300..700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Comfortaa", sans-serif;
}


.accordion-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  background-color: #111;
  color: #fff;
  min-height: 50vh;
  margin-bottom: 12rem;
}

.accordion {
  max-width: 60rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-title {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
}

.accordion-description {
  font-size: 1.6rem;
  text-align: center;
  margin-bottom: 2rem;
  opacity: 0.8;
}

.accordion-item {
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.8rem;
  overflow: hidden;
}

.accordion-question {
  background-color: #000;
  padding: 1.6rem 2rem;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.8rem;
  transition: all 0.3s ease;
}

.accordion-question:hover {
  background-color: #222;
}

.expand-symbol {
  font-size: 2rem;
}

.accordion-answer {
  background-color: #f0f8ff;
  color: #000;
  padding: 0 2rem;
  font-size: 1.6rem;
  line-height: 1.6;
  border-radius: 0 0 0.8rem 0.8rem;

  /* animation */
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, padding 0.3s ease;
}

.accordion-answer.open {
  max-height: 30rem; 
  padding: 1.6rem 2rem;
}

.accordion-span {
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.accordion-span:hover {
  text-decoration: none;
}


@media (max-width: 500px) {
  html {
    font-size: 55%;
  }

  .accordion {
    width: 90%;
  }

  .accordion-title {
    font-size: 2.4rem;
  }

  .accordion-description {
    font-size: 1.4rem;
  }

  .accordion-question {
    font-size: 1.6rem;
    padding: 1.4rem 1.8rem;
  }

  .accordion-answer {
    font-size: 1.5rem;
    padding: 0rem 1.8rem;
    text-align: center;
  }
}
